body {
    background: linear-gradient(270deg, #2d3238, #282828);
    background-size: 400% 400%;
    -webkit-animation: fondo 30s ease infinite;
    -moz-animation: fondo 30s ease infinite;
    animation: fondo 30s ease infinite;
	font-family: 'Raleway', sans-serif;

}
@-webkit-keyframes fondo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes fondo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes fondo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.sombra{
	-webkit-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
}

h1 {
    text-align: center;
}
p {
    padding: 20px;
}
button {
    padding: 10px;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.fondo_dos{

  background: 
    linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
    linear-gradient(45deg, #ECEDDC 25%, transparent 25%); 
  background-size: 100px 100px;
  background-color: #c8cbce;
}
.nav-item:hover{
   -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
 background-color: #4e5760;

}
.nav-item.active{
 background-color: #4e5760;

}
