body{
    color: chocolate;
}
.container {
    background-color: rgb(203, 218, 68);
    border-style: double;
    border-radius: 15px;
    border-color: cadetblue;
}
h1 {
    text-align: center;
}
p {
    padding: 20px;
}
button {
    padding: 10px;
}